### Java ###
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.history/
!.vscode/extensions.json

### DB  ###
*.db

### MacOS ###
.directory
.DS_Store

### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### TypeScript build output ###
dist/
dist-ssr
build/
*.tsbuildinfo
*.d.ts
*.ts.map
*.js.map
coverage
*.local

### Neovim / LSP / swap files ###
*.swp
*.swo
.session

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


### Test Frameworks 
*.tsbuildinfo
/cypress/videos/
/cypress/screenshots/
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*